.task{
    background-color: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    border-left: 20px solid #f4f4f4;
}

.task.reminder{
    border-left: 20px solid blueviolet;
}

.task h3{
    display: flex;
    align-items: center;
    justify-content:space-between;
}